@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  TEMPLATE NOTE:
  These are template color variables. Feel free to:
  - Change any color values
  - Add new variables
  - Use a different color scheme entirely
  - Modify the dark mode theme
*/

:root {
  --radius: 0.625rem;
  --background: 100% 0 0;
  --foreground: 9.8% 0.05 240;
  --card: 100% 0 0;
  --card-foreground: 9.8% 0.05 240;
  --popover: 100% 0 0;
  --popover-foreground: 9.8% 0.05 240;
  --primary: 53.9% 0.21 257;
  --primary-foreground: 98.9% 0 0;
  --secondary: 95.9% 0.02 240;
  --secondary-foreground: 10% 0.03 240;
  --muted: 95.9% 0.02 240;
  --muted-foreground: 46.1% 0.02 240;
  --accent: 95.9% 0.02 240;
  --accent-foreground: 10% 0.03 240;
  --destructive: 60.2% 0.23 28;
  --destructive-foreground: 98.9% 0 0;
  --border: 90% 0.03 240;
  --input: 90% 0.03 240;
  --ring: 53.9% 0.21 257;
  --chart-1: 61% 0.24 25;
  --chart-2: 39% 0.14 173;
  --chart-3: 63% 0.19 197;
  --chart-4: 66% 0.18 43;
  --chart-5: 67% 0.22 27;
  --sidebar: 98.9% 0 0;
  --sidebar-foreground: 26.1% 0.02 240;
  --sidebar-primary: 53.9% 0.21 257;
  --sidebar-primary-foreground: 98.9% 0 0;
  --sidebar-accent: 95.9% 0.02 240;
  --sidebar-accent-foreground: 10% 0.03 240;
  --sidebar-border: 91% 0.05 220;
  --sidebar-ring: 53.9% 0.21 257;
}

.dark {
  --background: 9.8% 0.05 240;
  --foreground: 98.9% 0 0;
  --card: 9.8% 0.05 240;
  --card-foreground: 98.9% 0 0;
  --popover: 9.8% 0.05 240;
  --popover-foreground: 98.9% 0 0;
  --primary: 53.9% 0.21 257;
  --primary-foreground: 98.9% 0 0;
  --secondary: 15.9% 0.02 240;
  --secondary-foreground: 98.9% 0 0;
  --muted: 15.9% 0.02 240;
  --muted-foreground: 64.9% 0.02 240;
  --accent: 15.9% 0.02 240;
  --accent-foreground: 98.9% 0 0;
  --destructive: 60.2% 0.23 28;
  --destructive-foreground: 98.9% 0 0;
  --border: 15.9% 0.02 240;
  --input: 15.9% 0.02 240;
  --ring: 53.9% 0.21 257;
  --chart-1: 50% 0.2 220;
  --chart-2: 45% 0.15 160;
  --chart-3: 55% 0.22 30;
  --chart-4: 55% 0.2 340;
  --chart-5: 60% 0.18 290;
  --sidebar: 10% 0.03 240;
  --sidebar-foreground: 98.9% 0 0;
  --sidebar-primary: 53.9% 0.21 257;
  --sidebar-primary-foreground: 98.9% 0 0;
  --sidebar-accent: 15.9% 0.02 240;
  --sidebar-accent-foreground: 98.9% 0 0;
  --sidebar-border: 15.9% 0.02 240;
  --sidebar-ring: 53.9% 0.21 257;
}






